CREATE DATABASE dbventa;

CREATE SCHEMA schema;


SET search_path TO schema;

-- Tabla Categoria
CREATE TABLE Categoria (
    idCategoria SERIAL PRIMARY KEY,
    nombre VARCHAR(50),
    esActivo BOOLEAN DEFAULT TRUE,
    fechaRegistro TIMESTAMP DEFAULT NOW()
);

-- Tabla Rol
CREATE TABLE Rol (
    idRol SERIAL PRIMARY KEY,
    nombre VARCHAR(50),
    fechaRegistro TIMESTAMP DEFAULT NOW()
);

-- Tabla Usuario
CREATE TABLE Usuario (
    idUsuario SERIAL PRIMARY KEY,
    nombreCompleto VARCHAR(100),
    correo VARCHAR(40),
    idRol INT REFERENCES Rol(idRol),
    clave VARCHAR(40),
    esActivo BOOLEAN DEFAULT TRUE,
    fechaRegistro TIMESTAMP DEFAULT NOW()
);


CREATE TABLE Producto (
    idProducto SERIAL PRIMARY KEY,
    nombre VARCHAR(100),
    idCategoria INT REFERENCES Categoria(idCategoria),
    stock INT,
    precio DECIMAL(10,2),
    esActivo BOOLEAN DEFAULT TRUE,
    fechaRegistro TIMESTAMP DEFAULT NOW()
);

-- Tabla Venta
CREATE TABLE Venta (
    idVenta SERIAL PRIMARY KEY,
    numeroDocumento VARCHAR(40),
    tipoPago VARCHAR(50),
    total DECIMAL(10,2),
    fechaRegistro TIMESTAMP DEFAULT NOW()
);

-- Tabla DetalleVenta
CREATE TABLE DetalleVenta (
    idDetalleVenta SERIAL PRIMARY KEY,
    idVenta INT REFERENCES Venta(idVenta),
    idProducto INT REFERENCES Producto(idProducto),
    cantidad INT,
    precio DECIMAL(10,2),
    total DECIMAL(10,2)
);

-- Tabla Menu
CREATE TABLE Menu (
    idMenu SERIAL PRIMARY KEY,
    nombre VARCHAR(50),
    icono VARCHAR(50),
    url VARCHAR(50)
);

-- Tabla MenuRol
CREATE TABLE MenuRol (
    idMenuRol SERIAL PRIMARY KEY,
    idMenu INT REFERENCES Menu(idMenu),
    idRol INT REFERENCES Rol(idRol)
);

CREATE TABLE IF NOT EXISTS NumeroDocumento (
  idNumeroDocumento SERIAL PRIMARY KEY,
  ultimo_Numero INT NOT NULL,
  fechaRegistro TIMESTAMP DEFAULT NOW()
);


ALTER TABLE Categoria ALTER COLUMN esActivo SET DEFAULT true;
ALTER TABLE Categoria ALTER COLUMN fechaRegistro SET DEFAULT NOW();

ALTER TABLE Producto ALTER COLUMN esActivo SET DEFAULT true;
ALTER TABLE Producto ALTER COLUMN fechaRegistro SET DEFAULT NOW();

ALTER TABLE Rol ALTER COLUMN fechaRegistro SET DEFAULT NOW();

ALTER TABLE Usuario ALTER COLUMN esActivo SET DEFAULT true;
ALTER TABLE Usuario ALTER COLUMN fechaRegistro SET DEFAULT NOW();

ALTER TABLE Venta ALTER COLUMN fechaRegistro SET DEFAULT NOW();

ALTER TABLE NumeroDocumento ALTER COLUMN fechaRegistro SET DEFAULT NOW();

INSERT INTO NumeroDocumento (ultimo_Numero, fechaRegistro) VALUES (5, NOW());